Grade Checkpoint #1: encoding

1. JOP (no sysos, scanners), use new drop down JOP 
2. executable jar
3. JOP - ask do you want to encode, decode, or crack, or exit ?
-- use a switch case (class example)branch, right now we only have encode
4. For encoding - ask for the plain text msg
5. ask for the key -- another JOP 
6. display the encoded msg - another JOP
7. loop - back to the first drop-down JOP
either go again, or a graceful exit - another JOP



Grade Checkpoint #2: decoding
(NTFS) - use drop-down JOP's here





Grade Checkpoint #3: cracking (don't know the key)